@import 'App/_common.css';

.Section {}

.contents {
  margin-left: 12px;
}

.title {
  margin-bottom: 0.5em;
}

.text {
  max-width: var(--size_sectionMaxWidth);
  line-height: 1.5em;

  &:not(.noLowercase) {
    text-transform: lowercase;
  }
}
