@import 'App/_common.css';

.Headline {
  margin: 75px 0 50px;
  font-family: var(--font_didot);
  text-transform: lowercase;
}

.paragraph:first-of-type {
  margin-bottom: 1em;
  max-width: 570px;
}
