@import 'App/_common.css';

.Headline {
  margin: 75px 0 50px;
  font-family: var(--font_didot);
  text-transform: lowercase;
}

.baseline1 {
  margin-bottom: 1em;
  max-width: 570px;
}

.role {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: var(--font_futura);
  margin-top: 1em;
}
