@import 'App/_common.css';

.WorkHeadline {
  padding-right: 50px;
}

.role {
  display: flex;
  align-items: center;
  font-size: var(--fontSize_workRoles);
  font-family: var(--font_futura);
  margin-top: 1em;
}
