:root {
  --color_mono-white: #fff;
  --color_mono-black: #000;

  --color_neutral-grey-offblack: #111;
  --color_neutral-grey-dark: #333;
  --color_neutral-grey-light: #bbb;

  --color_piano-activeKey: #e4347a;
}
