:root {
  --font_futura: 'Futura Std', sans-serif;
  --font_didot: 'Didot', serif;

  --fontSize_main: 24px;
  --fontSize_headline: 32px;
  --fontSize_menu: 10px;
  --fontSize_menuHover: 12px;
  --fontSize_title: 10px;
  --fontSize_listDetails: 12px;
  --fontSize_workRoles: 14px;
  --fontSize_note: 12px;
  --fontSize_noteHover: 14px;
  --fontSize_pianoClose: 14px;
  --fontSize_pianoHint: 16px;
  --fontSize_pianoKeyboard: 20px;
  --fontSize_loading: 40px;

  --size_sectionBottomMargin: 25px;
  --size_headlineMaxWidth: 620px;
  --size_sectionMaxWidth: 620px;
}
