@import './_fonts.css';
@import './_common.css';

::selection {
  background: var(--color_neutral-grey-light);
  color: var(--color_neutral-grey-offblack);
  text-shadow: none;
}

::-moz-selection {
  background: var(--color_neutral-grey-light);
  color: var(--color_neutral-grey-offblack);
  text-shadow: none;
}

html, body {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
}

body {
  background: var(--color_neutral-grey-offblack);
  color: var(--color_neutral-grey-light);
  font-family: var(--font_futura);
  font-size: var(--fontSize_main);
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

:global html.scrollingLocked body {
  overflow-y: hidden;

  @media (--mq_minPianoWidth) {
    overflow-y: inherit;
  }

  &:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    background: color(var(--color_mono-black) a(85%)) url('./assets/img/rotateDevice.png') no-repeat 50% 50%;
    z-index: 9999;
    transition: opacity 200ms;

    @media (--mq_minPianoWidth) {
      opacity: 0;
      pointer-events: none;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

strike {
  text-decoration: none;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    left: 0;
    top: 0.5em;
  }
}

.App {}

.contents {
  transition: height 200ms;
}

.wrapper {
  padding: 25px;
  position: relative;

  @media (--mq_mobile) {
    padding-left: 50px;
  }

  @media (--mq_laptop) {
    padding: 50px 50px 50px 75px;
  }
}
