@import 'App/_common.css';

.Title {
  font-size: var(--fontSize_title);
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 400;
  transition: letter-spacing 200ms 100ms;
  transform: translate3d(0, 0, 0);

  &.is--active, &:hover {
    letter-spacing: 4px;

    .background {
      animation: extend 400ms 100ms ease;
    }
  }
}

.background {
  position: absolute;
  width: 100%;
  background: var(--color_neutral-grey-dark);
  opacity: 0.2;
  height: 100%;
  left: 1.25em;
  padding: 0.25em;
  top: -0.25em;
  box-sizing: content-box;
  z-index: -1;
  transform-origin: left center;
  transition: background 200ms;
  transform: translate3d(0, 0, 0);
}

.contents {}

@keyframes extend {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}
