@import 'App/_common.css';

.Nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, color(var(--color_mono-black) a(85%)) 50%, color(var(--color_mono-black) a(0)) 100%);
  z-index: 99;
  padding: 25px;
  pointer-events: none;

  @media (--mq_mobile) {
    padding: 50px;
    background: none;
  }
}

.container {
  display: flex;
  justify-content: flex-end;

  & > * {
    pointer-events: auto;
  }
}

.langNav {
  font-size: var(--fontSize_menu);
  display: flex;
  margin-left: 25px;
  font-weight: 400;
}

.langItem {
  width: 25px;
  position: relative;

  &:not(:last-of-type) {
    border-right: 1px solid currentColor;
  }
}

.linkContainer {
  position: relative;
  display: flex;
  height: 1em;
}

.linkWrapper {
  display: flex;
  transition: opacity 200ms, transform 200ms;
  cursor: pointer;
  position: relative;

  &:last-of-type {
    margin-left: 25px;
  }

  &.is--inactive {
    opacity: 0;
    transform: translateX(-18px);
    pointer-events: none;
  }
}

.link {
  transition: opacity 200ms, transform 200ms;
  cursor: pointer;
  display: block;
  white-space: nowrap;
  pointer-events: none; /* Use JS triggering instead */

  &.is--inactive {
    opacity: 0;
    position: absolute;
    transform: translateX(-18px);
  }
}

.langLink {
  text-align: center;
  padding: 0 0.5em;
  transition: transform 200ms;
  display: block;

  &:hover {
    font-family: var(--font_didot);
    transform: skewX(-15deg);
    text-transform: lowercase;
    font-size: var(--fontSize_menuHover);
    line-height: 10px;
  }

  &.is--active {
    font-weight: bold;
  }
}
