@import 'App/_common.css';

.Nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(top, rgba(0, 0, 0, 0.85) 35%, rgba(0, 0, 0, 0) 100%);
  z-index: 99;
  padding: 15px;

  @media (--mq_mobile) {
    padding: 25px;
    background: rgba(0, 0, 0, 0);
  }

  @media (--mq_laptop) {
    padding: 50px;
  }
}

.container {
  display: flex;
  justify-content: flex-end;
}

.langNav {
  font-size: 10px;
  display: flex;
  margin-left: 25px;
  font-weight: 400;
}

.langItem {
  width: 25px;
  position: relative;

  &:not(:last-of-type) {
    border-right: 1px solid currentColor;
  }
}

.linkContainer {
  position: relative;
  display: flex;
  height: 1em;
}

.linkWrapper {
  display: flex;
  transition: opacity 200ms, transform 200ms;
  cursor: pointer;

  &:last-of-type {
    margin-left: 25px;
  }

  &.is--inactive {
    opacity: 0;
    transform: translateX(-18px);
    pointer-events: none;
  }
}

.link {
  transition: opacity 200ms, transform 200ms;
  cursor: pointer;
  display: block;
  white-space: nowrap;

  &.is--inactive {
    opacity: 0;
    position: absolute;
    transform: translateX(-18px);
    pointer-events: none;
  }
}

.langLink {
  text-align: center;
  padding: 0 0.5em;
  transition: transform 200ms;
  display: block;

  &:hover {
    font-family: var(--font_didot);
    transform: skewX(-15deg);
    text-transform: lowercase;
    font-size: 12px;
    line-height: 10px;
  }

  &.is--active {
    font-weight: bold;
  }
}
