@import 'App/_common.css';

.Nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 99;
  padding: 15px;
  

  @media (--mq_mobile) {
    padding: 25px;
    background: rgba(0, 0, 0, 0);
  }
}

.container {
  display: flex;
  justify-content: flex-end;
}

.langNav {
  font-size: 10px;
  display: flex;
  margin-left: 25px;
  font-weight: 400;
}

.langItem {
  width: 25px;
  height: 1em;
  position: relative;

  &:not(:last-of-type) {
    border-right: 1px solid currentColor;
  }
}

.linkWrapper {
  position: relative;
  width: 44px;
}

.link {
  opacity: 0;
  transform: translateX(-18px);
  transition: opacity 200ms, transform 200ms;
  position: absolute;
  pointer-events: none;

  &.is--active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
}

.langLink {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 0.5em;
  transition: transform 200ms;

  &:hover {
    font-family: var(--font_didot);
    transform: skewX(-15deg);
    text-transform: lowercase;
    font-size: 12px;
    line-height: 10px;
  }

  &.is--active {
    font-weight: bold;
  }
}
