@import 'App/_common.css';

:root {
  --size_keyWidth: 30px;
  --size_keyHeight: 100px;
  --size_keyGap: 4px;
  --count_whiteKeys: 15;
  --count_blackKeys: 10;
}

.Piano {
  width: 535px;
  font-family: var(--font_futura);

  & > * {
    visibility: hidden;

    @media (--mq_minPianoWidth) {
      visibility: visible;
    }
  }
}

.close {
  font-size: var(--fontSize_pianoClose);
  opacity: 0.5;
  cursor: pointer;
  vertical-align: super;
  margin: 0 0.5em;
  display: inline-block;
  transition: opacity 200ms;
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;

  &:hover {
    opacity: 1;
  }
}

.key {
  width: 30px;
  position: absolute;
  height: 100px;
  background: color(var(--color_neutral-grey-dark) a(25%));
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0.25em;
  transition: background 200ms;
  z-index: 0;
  cursor: pointer;

  &:not(.is--active):hover {
    background: color(var(--color_neutral-grey-dark) a(80%));
  }

  &.isAccidental {
    background: color(var(--color_mono-white) a(15%));
    z-index: 1;

    &:not(.is--active):hover {
      background: color(var(--color_mono-white) a(50%));
    }
  }

  &.is--active {
    background: color(var(--color_piano-activeKey) a(80%));
  }
}

.keyboard {
  width: calc(var(--count_whiteKeys) * (var(--size_keyWidth) + var(--size_keyGap)));
  height: calc(var(--size_keyHeight) + (var(--size_keyHeight) * 0.33));
  position: relative;
}

.hint {
  font-size: var(--fontSize_pianoHint);
  display: flex;

  &:not(:last-of-type) {
    margin-bottom: 1em;
  }
}

.label {
  display: flex;
  width: 200px;
}

.dash {
  height: 1em;
  display: flex;
  align-items: center;
}

.hintContent {
  padding-left: 2em;
  line-height: 1.25em;
}
