@import 'App/_common.css';

.Piano {
  position: relative;
  width: 535px;
  font-family: var(--font_futura);

  & > * {
    visibility: hidden;

    @media (--mq_minPianoWidth) {
      visibility: visible;
    }
  }
}

.close {
  font-size: 14px;
  opacity: 0.5;
  cursor: pointer;
  vertical-align: super;
  margin: 0 0.5em;
  display: inline-block;
  transition: opacity 200ms;
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;

  &:hover {
    opacity: 1;
  }
}

.key {
  width: 30px;
  position: absolute;
  height: 100px;
  background: color(var(--color_neutral-grey-dark) a(25%));
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0.25em;
  transition: background 200ms;
  z-index: 0;
  font-size: 22px;
  cursor: pointer;

  &:hover, &.is--active {
    background: color(var(--color_piano-activeKey) a(70%));
  }

  &.isAccidental {
    background: color(var(--color_mono-white) a(15%));
    z-index: 1;

    &:hover, &.is--active {
      background: color(var(--color_piano-activeKey) a(80%))
    }
  }
}

.keyboardWrapper {
  width: calc(15 * (30px + 4px ));
  height: 133px;
  position: relative;
  user-select: none;
}

.hint {
  font-size: 16px;
  display: flex;

  &:not(:last-of-type) {
    margin-bottom: 1em;
  }
}

.label {
  display: flex;
  width: 200px;
}

.dash {
  height: 1em;
  display: flex;
  align-items: center;
}

.hintContent {
  padding-left: 2em;
  line-height: 1.25em;
}
